@mixin wather-type() {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;
    top: 26%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: 700;

    @media (max-width: 320px) {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }

    @media (max-width: 375px) {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }
}

@mixin wather-deg() {
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;
    bottom: 19%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-weight: 700;

    @media (max-width: 320px) {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }

    @media (max-width: 375px) {
        height: 50px;
        width: 50px;
        font-size: 12px;
    }
}

@mixin section-heading() {
    h3 {
        color: #648cff;
        text-transform: uppercase;
        font-weight: 800;
    }

    p {
        color: #b6b6b6;
    }
}


@mixin ft-social() {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        justify-content: center;

        $social-bg: #3b5998 #c4302b #38A1F3;

        @for $i from 1 through 3 {
            li:nth-child(#{$i}) {
                height: 30px;
                width: 30px;
                background-color: nth($social-bg, $i);
                border-radius: 50%;
                margin-right: 10px;

                a {
                    text-decoration: none;

                    i {
                        color: $font-color-light;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
